{
	"charset": "utf-8",
	"tabWidth": 2,
	"useTabs": false,
	"insertPragma": false,
	"trailingComma": "all",
	"semi": false,
	"singleQuote": true,
	"bracketSpacing": true,
	"printWidth": 80,
	"noTrim": true
}
